*, *::before, *::after {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input::-webkit-input-placeholder {
    color: black;
}

*::-webkit-scrollbar {
     display: none;
  background-color:  black;
  border-radius: 7px;

}
    ::-webkit-scrollbar-thumb {
        background-color: #d96200;
        border-radius: 9em;
        box-shadow: inset 10px 50px 30px #fcc501;
    }


.home {
    margin-top: 86.5vh;
    width: 120px;
    height: 120px;
    margin-left: 48vh;
    position:fixed;

}
    .edit {
        margin-top: 89vh;
        width: 80px;
        height:  80px;
        margin-left: 28vh;
        position:fixed;
}
        .trash {
            margin-top: 89vh;
            width: 80px;
            height: 80px;
            margin-left: 38vh;
            position:fixed;

}


input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}


.note_list{
    scroll-behavior: smooth;
    overflow: auto; height: 100vh;
    font-size: 20px;
    border-radius: 0px 30px 0 0;
    background-color: black;
    width: 30vh;
    float: left;
    margin-right: 50vh;
}
    .search{
        text-decoration: none;
        font-family: 'Gemunu Libre';
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 10%;
        border-radius: 3rem;
        border: none;
        height: 4vh;
        width: 90%;
        font-size: 28px;
        text-align: center;

    }
        .el_list{
            font-size: 22px;
            font-family: 'Gemunu Libre';
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 3%;
            text-align: left;
            background-color: white;
            border-radius: 0.3rem;
        }
            .l_title{
                text-decoration: none;
                color: black;
                margin-left: 10%;
            }


.create{
    font-family: 'Gemunu Libre';
    margin-top: 2%;
    float: left;
    width: 55vh;
    font-size: 20px;

}
        .n_input{
          background-color: #FEC600;
          border-radius: 0.25rem;
          border: none;
          width: 95%;
          height: 40px;
            color: black;
        }

            .n_text{
                border-width: 3px;
                border-color: black;
                border-radius: 0.5rem;
                width: 95%;
                height: 75vh;
                font-weight: 400;
                font-size: 20px;
            }
                .btn{
                    font-family: 'Gemunu Libre';
                    margin-left: 80%;
                    margin-top: 1.5%;
                    border: none;
                    background-color: #FEC600;
                    width: 90px;
                    height: 31px;
                    font-size: 27px;
                    border-radius: 0.5rem;
                }