{% extends 'base.html' %}

{% block content %}
    <div class="note_list">
        <form method="get">
            <input class="search" name="q"  placeholder="Search... ">
        </form>

         {% for n in n_list %}
            <div class="el_list">
                <p><a href="{% url 'notes:note' n.id %}" class="l_title">{{n.note_title}}</a></p>
            </div>
        <br>
       {% endfor %}
    </div>

    <div class="create">
      <form method="post" class="note_create">
        {% csrf_token %}
        {{form.note_title}}<br>
        {{form.pub_date}}<br>
        {{form.note_text}}<br>
        <button class="btn" type="submit">Create</button>
      </form>
    </div>
{% endblock %}

