{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Notes=)</title>
    <style> @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;500;600&display=swap'); </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
